<?xml version="1.0" encoding="UTF-8"?>
<config>
  <info>
    <type>web</type>
    <id>c9c3ba46-f452-4674-a732-d961bd08b3f8</id>
    <name>cflibsvgtoimage</name>
    <label>libsvgtoimage for Coldfusion</label>
    <description>Wrapper around the Batik transcoder library from Apache to be used in your ColdFusion applications.</description>
    <version>${pom.version}</version>
    <image>https://raw.githubusercontent.com/jbvanzuylen/cf-libsvgtoimage/master/logo.png</image>
    <author>Stéphane Vantroyen</author>
    <support>https://github.com/jbvanzuylen/cf-libsvgtoimage/issues</support>
    <created>${ext.release.date}</created>
  </info>
</config>